$white: #ffffff;
$black:  #1f2020;
$primary: #005EB5;
$secondary:#FFA500;
$paragraph: #757575;
$border:#e6e6e6;
$transition: all 0.4s ease-out 0s;
$patua:  "Patua One", serif;
$roboto:"Roboto", serif;
