.event_area {
  .event_main {
    border: 1px solid $border;
    padding: 20px;
  }

  .event_row {
    --bs-gutter-x: 40px;
  }

  .event_wrapper {
    &:first-child {
      .event_item {
        &::before {
          display: none;
        }
      }
    }
  }

  .event_item {
    position: relative;

    .event_slider {
      .slider_item {
        height: 300px;

        .img {
          height: 195px;

          img {
            height: 100%;
            object-fit: cover;
          }
        }

        .text {
          padding: 5px 10px;
          min-height: 105px;
          height: 100%;
          background: #28c5ff;

          p,
          a {
            font-size: 20px;
            color: #005EB5;
            line-height: 30px;
            padding: 0px;
            margin: 0px !important;
            text-shadow: 0 1px #00FFCC;
            text-align: left;

            span {
              font-size: 15px;
              color: $white;
              line-height: 18px;
              padding: 0px;
              margin-top: 10px;
              text-shadow: none;
            }
          }
        }
      }
    }

    &::before {
      width: 292px;
      height: 100%;
      padding: 20px;
      position: absolute;
      top: 0;
      left: -20px;
      content: "";
      background: url(../images/border.gif) no-repeat left 10px;
    }

    .title_orange {
      color: orange !important;
    }

    .button_groups {
      margin-top: 2px;

      a {
        padding: 10px 15px 10px 15px;
        color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        display: inline-block;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        font-size: 14px;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        background-image: linear-gradient(to bottom, #0088CC, #0044CC);
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
        background-color: #006DCC;

        &:hover {
          background-color: #006DCC;
          background-image: none;
          color: #FFFFFF;
        }

        &:last-child {
          background-color: #DA4F49;
          background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);

          &:hover {
            background-color: #DA4F49;
            color: #FFFFFF;
            background-image: none;
          }
        }
      }
    }
  }

  .social_event {
    .text {
      .title {
        background: orange;
        background-repeat: repeat;
        font-size: 14px;
        padding: 10px;
        color: white;
        font-weight: bold;
      }
    }
  }

  .donate {
    .img {
      overflow: hidden;

      img {
        height: 223px;
        object-fit: cover;
      }
    }
  }
}

// .evt_calendar{
//   .calander {
//     background-color: white;
//     // padding: 0.75rem;
//     border-radius: 0.75rem;
//     display: grid;
//     gap: 0;
//     cursor: default;
//     // box-shadow: 0 2px 8px #00000050;
//   }
  
//   .week {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     grid-auto-columns: 1fr;
//     grid-auto-rows: 1fr;
//     gap: 0;
//   }
  
//   .weekday {
//     text-align: center;
//     border-radius: 0.25rem;
//     box-sizing: border-box;
//     color: #666666;
//     font-size: 10px;
//     font-weight: 600;
//     padding: 0rem;
//     text-align: center;
//     border-radius: 0.25rem;
//   }
  
//   .month {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0.75rem;
//     border-radius: inherit;
//     // background-color: cornflowerblue;
//     color: $black;
//   }
  
//   .month>* {
//     margin: 0;
//     text-align: center;
//   }
  
//   .month button {
//     border: none;
//     height: 3rem;
//     width: 3rem;
//     padding: 0.25rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     border-radius: 0.25rem;
//     background-color: #00000030;
//     color: white;
//     cursor: pointer;
  
//   }
  
//   .days {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     gap: 0;
//   }
  
//   .day {
//     background: url(../images/calendar-bg.gif) no-repeat scroll left center rgba(0, 0, 0, 0);
//     border-bottom: 1px solid #E2E2E2;
//     border-right: 1px solid #E2E2E2;
//     box-sizing: border-box;
//     padding: 0.75rem;
//     text-align: center;
//     border-radius: 0.25rem;
  
//     &:hover {
//       order-bottom: 1px solid #E2E2E2;
//       border-right: 1px solid #E2E2E2;
//       box-shadow: inset 0px 0px 10px #333;
//       background: #005EB5;
//       color: $white;
//     }
//   }
  
//   .day:hover {
//     // box-shadow: inset 0 0 8px #00000030;
//   }
  
//   .year {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     // padding: 0.75rem;
//     border-radius: inherit;
//     // background-color: cornflowerblue;
//     color: $black;
//   }
  
//   .year>* {
//     margin: 0;
//     text-align: center;
//   }
  
//   .year button {
//     border: none;
//     // height: 3rem;
//     // width: 100%;
//     padding: 0.25rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     border-radius: 0.25rem;
//     // background-color: #00000030;
//     color: $black;
//     cursor: pointer;
//     // box-shadow: 0 0 8px #00000030;
//   }
// }

.calander {
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.75rem;
  display: grid;
  gap: 0.5rem;
  cursor: default;
  box-shadow: 0 2px 8px #00000050;
}
.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0.5rem;
}

.weekday {
  text-align: center;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px #00000030;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-radius: inherit;
  background-color: cornflowerblue;
  color: white;
}

.month > * {
  margin: 0;
  text-align: center;
}

.month button {
  border: none;
  height: 3rem;
  width: 3rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.25rem;
  background-color: #00000030;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 8px #00000030;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.day {
  box-shadow: 0 0 8px #00000030;
  padding: 0.75rem;
  text-align: center;
  border-radius: 0.25rem;
}

.day:hover {
  box-shadow: inset 0 0 8px #00000030;
}

.year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-radius: inherit;
  background-color: cornflowerblue;
  color: white;
}

.year > * {
  margin: 0;
  text-align: center;
}

.year button {
  border: none;
  height: 3rem;
  width: 3rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.25rem;
  background-color: #00000030;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 8px #00000030;
}

.output {
  background: linear-gradient(135deg, #4080a2, #50cea2) no-repeat;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: white;
}
