.top_header {
  background: $primary;
  padding: 7px 0;

  .dates,
  .times {
    h5 {
      line-height: 18px;
      font-size: 12px;
      text-align: justify;
      color: $white;
      font-family: $roboto;
    }
  }
}

.header_area {
  padding: 20px 0;
  position: relative;
  z-index: 999;

  .menu {
    ul {
      li {
        position: relative;

        a {
          font-size: 14px;
          font-weight: 400;
          color: $primary;
          padding: 7px 10px 7px 10px;
          background: transparent;
          border-radius: 3px;
          font-family: $patua;
        }

        .sub_menu {
          width: 200px;
          background: $primary;
          border-radius: 5px;
          position: absolute;
          top: 100%;
          left: 6px;
          overflow: hidden;
          visibility: hidden;
          opacity: 0;
          transition: $transition;
          border-top-left-radius: 0;

          li {
            a {
              font-size: 14px;
              border-radius: 2px;
              padding: 10px 10px;
              color: $white;
              background: transparent;
              width: 100%;

              &:hover {
                background: #33CCFF;

              }
            }
          }

          li+li {
            padding-left: 0;
          }
        }

        .active {
          background: $primary;
          color: $white;
        }

        &:hover {
          .sub_menu{
            visibility: visible;
            opacity: 1;
          }
          .main_menu {
            background: $primary;
            color: $white;
          }
        }
      }

      li+li {
        padding-left: 6px;
      }
    }
  }
}

// mobile menu css

.mobile-menu-area {
  z-index: 999;
  width: 100%;
  transition: all linear 0.2s;
}

.mobile-menu-area .mobile-topbar .bars i {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid $primary;
  color: $primary;
  font-size: 18px;
  text-align: center;
  line-height: 37px;
  border-radius: 5px;
  cursor: pointer;
  transition: $transition;
}

.mobile-menu-area .mobile-topbar .bars i:hover {
  background-color: $primary;
  border-color: $primary;
  color: $white;
}

.mobile-menu-area .mobile-topbar .icon i {
  width: 45px;
  height: 45px;
  background-color: $white;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  cursor: pointer;
  transition: all linear 0.2s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.mobile-menu-area .mobile-topbar .icon i:hover {
  background-color: $primary;
  color: $white;
  border-color: $primary;
}

.mobile-menu-area .mobile-menu-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.mobile-menu-area .mobile-menu-main {
  width: 320px;
  height: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  right: -320px;
  z-index: 999;
  overflow-y: scroll;
  transition-duration: 0.3s;
}

.mobile-menu-area .mobile-menu-main .logo {
  padding: 20px;
}

.mobile-menu-area .mobile-menu-main .close-mobile-menu {
  position: absolute;
  top: 22px;
  right: 10px;
}

.mobile-menu-area .mobile-menu-main .close-mobile-menu i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: $black;
  font-size: 20px;
  cursor: pointer;
  transition: all linear 0.2s;
  transition: $transition;
}

.mobile-menu-area .mobile-menu-main .close-mobile-menu i:hover {
  color: $primary;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list {
  padding-top: 10px;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a {
  font-weight: 500;
  font-size: 15px;
  color: $black;
  border-top: 1px solid $border;
  width: 100%;
  padding: 0px 20px;
  line-height: 40px;
  padding-right: 10px;
  transition: all linear 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
  }
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li:last-child a {
  border-bottom: 1px solid $border;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a:hover {
  color: $primary;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a i {
  width: 32px;
  height: 32px;
  background-color: $white;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  border-radius: 3px;
  transition: all linear 0.2s;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a:hover i {
  background-color: $primary;
  color: $white;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul {
  padding-left: 0;
  display: none;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul a {
  padding: 0px 20px;
  padding-left: 40px;
}

.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul li:last-child a {
  border-bottom: 0;
}

.mobile-menu-area .mobile-menu-main .menu-body .social-icon ul li {
  display: inline-block;
}

.mobile-menu-area .mobile-menu-main .social-icon {
  padding: 20px;
  text-align: center;
}

.mobile-menu-area .mobile-menu-main .social-icon ul li {
  display: inline-block;
  margin: 0 4px;
}

.mobile-menu-area .mobile-menu-main .social-icon ul li a {
  width: 36px;
  height: 36px;
  color: $black;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  border: 1px solid $border;
}

.mobile-menu-area .mobile-menu-main .social-icon ul li a:hover {
  background-color: $primary;
  color: $white;
  border-color: $primary;
}

.mobile-menu-overlay {
  transition-duration: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.mobile-menu-overlay.active {
  visibility: visible;
  opacity: 1;
}

.mobile-menu-main.active {
  right: 0 !important;
}

.mobile-menu-area .mobile-menu-search {
  padding: 0 20px 16px;
}

.mobile-menu-area .mobile-menu-search input {
  width: 100%;
  height: 45px;
  border: 1px solid $border;
  border-radius: 5px;
  padding: 0 20px;
  transition: $transition;
}

.mobile-menu-area .mobile-menu-search input:focus {
  border-color: $black;
}

.mobile-menu-area .mobile-menu-search .input-groups button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
}

.mobile-menu-area .menu-action-btn {
  padding: 20px;
}

.mobile-menu-area .menu-action-btn a {
  font-weight: 700;
  font-family: var(--link-font-family);
  color: $white;
  background-color: $primary;
  padding: 12px 30px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.mobile-menu-area .menu-action-btn a:hover {
  background-color: $black;
}

.mobile-menu-area .menu-action-btn a i {
  font-size: 14px;
  margin-left: 8px;
}

.mobile-menu-area {
  .info_item {
    margin-bottom: 0;
    border-bottom: 1px solid $border;
    padding-bottom: 40px;
    padding: 20px 24px;

    &:last-child {
      border-bottom: 0;
    }

    .title {

      margin-bottom: 15px;
    }
  }

  .info_item.contact {
    border-top: 1px solid $border;

    ul {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .icon {
          margin-right: 20px;

          i {
            width: 35px;
            height: 35px;
            border: 1px solid $primary;
            border-radius: 3px;
            text-align: center;
            line-height: 35px;
            color: $primary;
          }
        }

        .text {

          a,
          p {

            color: $black;
          }

          a {
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}