.gallery_page {
  padding: 20px;
  padding-top: 10px;

  .gallery_row {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);

    @media (max-width:1399.98px) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media (max-width:1199.98px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width:991.98px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width:575.98px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .col {
      height: 100%;

      .gallery_item {
        padding: 4px;
        background: #F0F0F0;
        height: 100%;

        .text {
          padding-top: 4px;

          .title {
            font-size: 11px;
            color: $primary;
          }
        }
      }
    }
  }
}

.photo_album_page {
  .gallery_row {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(5, 1fr);
    @media (max-width:1399.98px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width:1199.98px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width:991.98px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width:575.98px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .gallery_item {
      padding: 0px !important;
      height: 100%;
      border: 2px solid gray;

      &:hover {
        border-color: $white;
      }
    }
  }
}