@import "../mixin/line-limit";
@import "../variable/variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
p{
  font-family: "Roboto", serif;
}
span {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a,
button {
  transition: all 0.3s ease-out 0s;
}

body {
  overflow-x: hidden;
  color: $black;
  line-height: normal;
  font-family: "Patua One", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

::selection {
  background-color: $primary;
  color: $white;
}

p {
  color: $paragraph;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
}

// section title
.section_title {
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid $border;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  color: $primary;
}

// theme btn
.theme-btn {
  background-color: $primary;
  color: $white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  padding: 7px 12px;
  &:hover{
    background: $black;
  }
}

.mt20 {
  margin-top: 20px;
}

// line limit start
.line-limit-1 {
  @include line_limit (1 !important);
}

.line-limit-2 {
  @include line_limit (2 !important);
}

.line-limit-3 {
  @include line_limit (3 !important);
}

.line-limit-4 {
  @include line_limit (4 !important);
}

.line-limit-6 {
  @include line_limit (6 !important);
}

.line-limit-7 {
  @include line_limit (7 !important);
}

.line-limit-8 {
  @include line_limit (8 !important);
}

.line-limit-9 {
  @include line_limit (9 !important);
}

.line-limit-10 {
  @include line_limit (10 !important);
}